ul li{
   text-decoration: none; 
}
.item{    
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.delete{
    cursor:pointer;
}
.done{
    background-color: lawngreen;
}