@media only screen and (max-width: 450px){
    #palette {
      
    width: 40%;
}
#canvas {
    width: 60%;
}

}
body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#palette {
    width: 20%;
    background-color: blanchedalmond;
}
#canvas {
    width: 80%;
}

#palette,
#canvas {
    border: 2px solid black;
    height: 100%;
    cursor: default;
    box-sizing: border-box;
}
#tools, input, .buttonSize{
    box-sizing: border-box;
}

.color-item {
    margin: 4px 2px 4px 4px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#red {
    background-color: red;
}
#black {
    background-color: black;
}

#clean, #rubber {
    padding: 10px;
     display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 5px;
    background-color: rgb(147, 166, 172);
}
#clean{
box-sizing: border-box;
}
#clean:hover, #rubber:hover {
    box-shadow: 10px 5px 5px rgb(175, 175, 175);
}

