.label-hr, .label-loos, .header-astro, .header-looser, .content, .content-name, .content-time {
  width: 50%;  
    display: inline-flex;    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    
}
.header-astro, .header-looser{
   font-weight: bold;
}
h1{
  
    
    margin-left: 20%;
    margin-top: 5%;
}

.header-astro, .header-looser, .content-name, .content-time{
    font-size: 18px;
    border: 1px solid black;
}